/* Aula inicial :D */
body{
  background-image: url('https://i.pinimg.com/originals/e4/34/2a/e4342a4e0e968344b75cf50cf1936c09.jpg');
  background-size: auto 100vh;
  font-family:'Consolas';
  color: #923956;
  height: 100vh;
 }

.menu{
  background-color: white;
}

.menu li{
  list-style:none;
}

.menu ul{
  display:flex;
  justify-content:space-between;
}

a:hover{
  text-decoration: underline;
}
a{
 text-decoration: none;
}

.site-title,
.site-subtitle{
  color: gray;
  
}